.input_group {
  @apply flex border rounded-xl border-slate-200;
  position: relative;
}

.input_text {
  @apply w-full py-4 px-6 border rounded-xl bg-slate-50;
  @apply focus:outline-none border-none;
}

.input_text + * {
  color: #cbd5e1;
}

.input_text:focus + * {
  color: #f86594;
}

.input_text:not([type="email"]) ~ span:hover * {
  color: #f86594;
  cursor: pointer;
}

.button {
  @apply w-full bg-gradient-to-r from-[#ffcaa6] to-[#f86594] rounded-md;
  @apply py-3 text-lg text-white;
}

.button_custom {
  @apply w-full rounded-md border border-slate-200 py-3 flex justify-center gap-2 hover:bg-slate-200;
}
